@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');


:root {
    --background: #646D5D;
    --primary: #D3002A;
    --secondary: #004735;
    --font: #FFF;
    --heading: #25002C;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--font);
    background-color: var(--background);
}

/* nav */
.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid var(--secondary);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-link {
margin: 1em;
font-weight: bold;
transition: all 0.15s ease-in-out;
}
.nav-link:hover {
border-bottom: 2px solid var(--primary);
border-top: 2px solid var(--primary);
padding: 0.1em;
}

/* hero */
.welcome-section {
    background: url('https://images.pexels.com/photos/5198239/pexels-photo-5198239.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat fixed center;
    background-size: initial;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    font-family: 'Galada', cursive;
    opacity: 0.8;
    text-shadow: 3px 0px 3px rgba(0, 0, 0, 1);
}
.welcome-section h1 {
    font-size: 2.5rem;
}
.welcome-section p {
    font-size: 1.5rem;
}


/* about */
.about p{
line-height: 1.5;
padding: 0.75em;
}
.about span {
    font-weight: bolder;
}
.about h1{
    text-align: center;
    background-color: var(--secondary);
    padding: 0.5em;
}

/* projects */
.projects {
    text-align: center;
}
.projects h1 {
    padding: 0.5em;
    background-color: var(--secondary);
}
.projects > p {
    background-color: var(--secondary);
    padding-bottom: 1em;
}
.project-grid {
    display: flex;
    flex-direction: column;
}
.project-tile {
    position: relative;
    overflow: hidden;
    margin: 1em 0;
}
.project-description{
    background-color: var(--heading);
    padding: 1em;
    font-weight: bold;
}
.project-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(211, 0, 42, 0.7);
    border: 2px solid #FFF;
    padding: 0.5em 1em;
    font-weight: bold;
}
.project-link:hover {
    background-color: var(--primary);
}
.project-image {
    filter: grayscale(100%);
    transition: all 0.75s ease-in-out;
    cursor: crosshair;
}
.project-image:hover {
    transform: scale(1.5);
    filter: none;
}

/* contact */
.contact {
    text-align: center;
}
.contact h1 {
    padding: 0.5em;
    background-color: var(--secondary);
}
.contact > p {
    background-color: var(--secondary);
    padding-bottom: 1em;
}
.profile-link {
display: flex;
justify-content: space-evenly;
}
.link {
font-size: 1.5rem;
margin: 1em;
}

.link:nth-child(1) i:hover{
    color: #3b5998;
}
.link:nth-child(2) i:hover{
    color: #000;
}
.link:nth-child(3) i:hover{
    color: #1DA1f2;
}
.link:nth-child(4) i:hover{
    color: #000;
}


/* footer */
footer p{
    text-align: center;
    padding: 1.25em;
    font-weight: bold;
    background-color: var(--heading);
}
/* other */
a {
text-decoration: none;
color: inherit;
}
img {
display: block;
width: 100%;
}


@media (min-width: 50em) {
.navbar {
    justify-content: flex-end;
}
.nav-link {
    padding-right: 1em;
    font-size: 1.2rem;
}

.welcome-section h1 {
    font-size: 3rem;
}
.welcome-section p {
    font-size: 2rem;
}
.project-grid {
    flex-flow: row wrap;
}
.project-tile {
flex: 1 0 450px;
border: 3px solid var(--heading);
display: flex;
margin: 1em;
flex-direction: column;
justify-content: space-between;
box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
}
.project-image {
height: 100%;
overflow: hidden;
}
link {
font-size: 3rem;
margin: 0;
}

.about h1, .projects h1, .contact h1{
font-size: 2rem;
}

.projects > p, .contact p{
   font-size: 1.25rem;
}

}
.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background-color: var(--secondary);
    border-bottom: 4px solid rgb(175, 159, 170);
    border-radius: 6px;
    transition: all .5s;
  }
  /* .card:hover { 
    border-color: #ff99ff;
  }*/
  
  /* ul.skills { 
    padding: 0;
    text-align: center;
  }
  .skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }
  .skills li:nth-child(odd) {
    background: #0399ff;
  }*/
  .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex; 
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
}